

body{
  margin: 0;
}
.header{
  height: 60 px;

  background-color: #333;
}
.hr{
  padding-top: 30%;
}

.menu-item{
  padding-top: 15%;
  margin-left: 15%;
  padding-right: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 120%;
  color: white;
  text-decoration: none;


}
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;;
  width: 26px;
  height: 20px;
  left: 36px;
  top: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {

  border-radius: 2px;
  background: #ffffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  opacity: 0;
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  width: 100%;
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {

  position: absolute;
  top: 0;
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}



/* Styling of overlay */
.bm-overlay {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}

/* Octopus Logo */

.logoHeader {
  padding: 10px;
  height: 60px;
  display: block;
  margin: 0 auto;
}

.footerDiv{
    height: 40px;
    background-color: #333;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%

}

.copyright{
  display: inline-block;
  padding: 10px;
  font-size: 90%;
  margin: 0 auto;
  color: white;
}

.termsAndPrivacy{
  color: #71d5f7;
  display: inline-block;
  padding: 10px;
  font-size: 90%;
  margin: 0 auto;
  position: absolute;
  bottom: -14px;
  right: 0;
  z-index: 10;
  text-decoration: none;
}

.termsAndPrivacy a, .termsAndPrivacy p {
  display: inline-block;
}

.termsAndPrivacySeparator{
  color: white;
  margin-left: 6px;
  margin-right: 6px;
}

a:link{
  text-decoration: none;
  color: white;
}
a:visited{
  text-decoration: none;
  color: white;
}

@media(max-width: 600px){
    .copyrightDiv, .termsAndPrivacy{
        display:block;
        color:black;
        padding:0px;
        margin: 0 auto;
        text-align: center;
        position: static;

    }
    .copyrightDiv>p, .termsAndPrivacy>p{
      padding: 3px;
      font-size: 94%;
    }
    .footerDiv{
      height: auto;
    }
}
