.cross{
  float: left;
}
.trash{
  float: right;
}

.panel {
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  margin-bottom: 20px;
  border: 1px solid $borderColor;
  border-radius: 13px;
  overflow: hidden;
}

.title {
  color: $fontColor;
  text-align: left;
  padding: 0px;
}

.heading {
  cursor: pointer;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.body {
  display: inline-block;
  margin-right: 0;
  float: right;
  color: $fontColor;
  padding: 5px 15px;
  font-size: 1.05em;
}



.activo {
  max-height: 2000px;
}

.hidden {
  display: none;
}
