.LoginForm{
  font-family: 'Lato', sans-serif;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 16px;
  padding: 15px;
  padding-top: 10px;
  margin: 50px auto;

}

.loginButton {
  margin:10px auto;
  display: block;
  width: 100%;
  border-radius: 30px;
  background-color: #0095C6;
  font-size:13pt;
  height:35px;
  border: solid;
  border-color: #0095C6;
  color: white;
}

.loginPassword {
  font-size:10pt;
  height:30px;
  text-align: center;
  margin:10px auto;
  width: 100%;
  border-radius: 30px;
}

.loginPassword:focus {

  outline-width: 0px;

}


.loginEmail {
  font-size:10pt;
  height:30px;
  text-align: center;
  margin:10px auto;
  width: 100%;
  border-radius: 30px;
}

.loginEmail:focus {

  outline-width: 0px;

}

.loginForgot{
  width: 100%;
  text-align: center;
  color: white;
}

.errorField{
  width: 120%;
  text-align: center;
  color: red;
}
