.creator {

	width: 100%;
	text-align: center;
}

.form {
    text-align: center;
	width: 90%;
	margin: 20px auto;
}

.input {
    text-align: center;
	display: inline-block;
	width: 70%;
    height: 30px;
    border-radius: 30px;
    margin-right: 20px;
	outline: 0;
}

.button {

	  font-size:10pt;
    color: white; 
    background-color: #0095C6;
    border: solid;
    border-color: #0095C6;
    border-radius: 30px;
    width: 25%;
    height:34px;
    margin:0 auto;
    display: inline-block;
    outline: 0;
}