

.ComplaintsFormDiv {

  font-family: 'Lato', sans-serif;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 16px;
  padding: 15px;
  padding-top: 10px;
  margin: 0px auto;
  margin-top: 40px;
  width: 152%;
  margin-left: -24px !important;
  float: left !important;

}

.ComplaintForm{

  padding: 0;
/*  float: left !important;*/
  margin: 20px;
  display: block;
  text-align: center;

}

.ComplaintSubject{

  font-size:10pt;
  height:30px;
  text-align: center;
  margin:10px auto;
  width: 100%;
  border-radius: 30px;
  outline: 0;
  
}
/*label*/
/*.CreateComplaintTitle{

  width: 100%;	
  text-align: center;

}*/

.sent {

  font-family: 'Lato', sans-serif;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 16px;
  padding: 15px;
  padding-top: 10px;
  margin: 0px auto;
  margin-top: 40px;
  width: 152%;
  margin-left: -24px !important;
  float: left !important;
}

.Dropzone{

	width: 100%;
  outline: 0;
  border-width: 0;
  border-style: none;
}

.List {

  list-style: none;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.SelectedFilesAside > img {

  border-style: solid;
  border-width: 2px;
  border-color: #8191aa;
  border-radius: 16px;
  text-align: center;
}

.FilePreview {

  text-align: center;
}

.ComplaintTextArea{

	font-size:10pt;
  height:90px;
  text-align: center;
  margin:10px auto;
  display: block;
  width: 100%;
  border: none;
  border-radius: 30px;
  border-style: inset;
  border-width: 2px;
  resize: none;
  outline: 0;
  margin-right: 20px;

}

.DropzoneSection{

	border-style: none;
	width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #8191aa;
  margin-right: 20px;

}

.SelectedFilesAside{

	border-style: none;
	font-weight:lighter;
  color: #0095c6;
	height: 50%;
	width: 40px;
  margin-top: 20px auto;

}

.PrivateComplaint {

  margin-bottom: 20px;
  width: 100%;
  padding-right: 15px;
  text-align: right;
  color: white;
}

.SendButton{

  margin:20px auto;
  display: block;
  width: 100%;
  border-radius: 30px;
  background-color: #0095C6;
  font-size:13pt;
  height:35px;
  border: solid;
  border-color: #0095C6;
  color: white;
  outline: 0;

}

label {

  margin-right: 20px;
}
