.complaintBox {

    font-family: 'Lato', sans-serif;
    background-color: rgba(0, 0, 0, 0.75);
    color: white; 
    border-radius: 16px;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    margin-top: 40px;
    display: block;
}

.minus, .plus {

	display: inline-block;
	text-align: center;
	width: 10%;
	color: #0095c6;
}
.title {

	font-weight: bold;
	font-size: 15pt;
	display: inline-block;
	width: 45%;
}

.complaintState {

	display: inline-block;
	font-size: 15pt;
	width: 40%;
	text-align: right;
}

.stateItself {

	color: #0095c6;
}

.body {

	padding-left: 10%;
}

.images {

	width:100%;

}

.preview {

	display: inline-block;
	width:40px;
	height: 40px;
	padding-left: 5px;
}

.userNameLine {

	display: inline-block;
	width: 95%;
	text-align: right;
	/*padding-right: 10%;*/
}

.userName {

	display: inline-block;
	font-weight: bold;
}

.complaintDate {

	width: 95%;
	text-align: right;
	margin-top: 0;
	padding-top: 0;
}

.comments {

	color: #0095c6;
}

.private {

	color: #0095c6;
	background-color: red;
	size: 200%;
}