.AmenitiesListDiv{
  padding-bottom: 40px;
}
.createBooking{
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  margin-bottom: 20px;
  border: 1px solid $borderColor;
  border-radius: 13px;
  overflow: hidden;
}
.linkButton{
  margin:10px auto;
  display: block;
  border-radius: 30px;
  background-color: #0095C6;
  font-size:13pt;
  height:35px;
  border: solid;
  border-color: #0095C6;
  color: white;
}
